.divContainer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 50px;
    background: rgba(35,31,87,255);
    box-shadow: -41px 41px 82px black, 41px -41px 82px rgba(35,31,87,255);
    margin: 50px;
    text-align: left;
    width: auto;
}
.divContainer h3,p,ul,li{
    margin: 10px;
}

.quiensoy {
    position: relative;
    left: 2.5%;
}

.divContainer li {
    list-style: none;
}