@import url('https://fonts.cdnfonts.com/css/cartoon-free');
body {
  margin: 0;
  font-family: 'CARTOON FREE', sans-serif;                                           
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/fondo1.png);
  background-size: 100%;
}

code {
  font-family: 'CARTOON FREE', sans-serif;                                           

}
